HUGIN_VERSION_MAJOR = 0
HUGIN_VERSION_MINOR = 7
HUGIN_VERSION_PATCH = 0

// prerelease builds:
HUGIN_WC_REVISION = 2766
HUGIN_PACKAGE_VERSION = $(HUGIN_VERSION_MAJOR).$(HUGIN_VERSION_MINOR).$(HUGIN_VERSION_PATCH)-svn$(HUGIN_WC_REVISION)
// release builds:
//HUGIN_PACKAGE_VERSION = $(HUGIN_VERSION_MAJOR).$(HUGIN_VERSION_MINOR).$(HUGIN_VERSION_PATCH)

// release architectures:
RELEASE_ARCHS_32 = ppc i386
//RELEASE_ARCHS_64 = ppc64 x86_64

DEPENDENCY_PREFIX = ./ExternalPrograms/repository