HUGIN_VERSION_MAJOR = 0
HUGIN_VERSION_MINOR = 7
HUGIN_VERSION_PATCH = 0
//HUGIN_PACKAGE_VERSION = $(HUGIN_VERSION_MAJOR).$(HUGIN_VERSION_MINOR).$(HUGIN_VERSION_PATCH)

HUGIN_WC_REVISION = 2587
HUGIN_PACKAGE_VERSION = $(HUGIN_VERSION_MAJOR).$(HUGIN_VERSION_MINOR).$(HUGIN_VERSION_PATCH)-svn$(HUGIN_WC_REVISION)

DEPENDENCY_PREFIX = ./ExternalPrograms/repository