<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pto</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>HuginFiles.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-ptoptimizer-script</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Hugin Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>huginAutoCP</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Hugin Automatic Control-point Detection plugin</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>Hugin ${HUGIN_PACKAGE_VERSION} (Mac)</string>
	<key>CFBundleIconFile</key>
	<string>Hugin.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.hugin.Hugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Hugin</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Hgin</string>
	<key>CFBundleShortVersionString</key>
	<string>${HUGIN_PACKAGE_VERSION}</string>
	<key>CFBundleVersion</key>
	<string>${HUGIN_WC_REVISION}</string>
</dict>
</plist>
