//consider to be release unless otherwise specified
HUGIN_DEVELOPMENT_VERSION = 1

//set the SVN revision number manually
//HUGIN_WC_REVISION = 3923

//set the prerelease tag manually if beta release; comment out if version release
//HUGIN_PRERELEASE_VERSION_TAG = -RC3

//overrides above values if checked out from SVN
#include "HG-rev.xcconfig"

HUGIN_VERSION_MAJOR = 2013
HUGIN_VERSION_MINOR = 0
HUGIN_VERSION_PATCH = 0

HUGIN_PACKAGE_VERSION = $(HUGIN_VERSION_MAJOR).$(HUGIN_VERSION_MINOR).$(HUGIN_VERSION_PATCH)$(HUGIN_PRERELEASE_VERSION_TAG)
