#include "SVN-rev.xcconfig"

//set the SVN revision number manually
//HUGIN_WC_REVISION = 3000

//set or override the prerelease tag manually
//HUGIN_PRERELEASE_VERSION_TAG = -RC4

HUGIN_VERSION_MAJOR = 0
HUGIN_VERSION_MINOR = 7
HUGIN_VERSION_PATCH = 0


HUGIN_PACKAGE_VERSION = $(HUGIN_VERSION_MAJOR).$(HUGIN_VERSION_MINOR).$(HUGIN_VERSION_PATCH)$(HUGIN_PRERELEASE_VERSION_TAG)