CC = g++
CC_ARGS = -O2 -Wall -g

PROGRAM = panoviewer
#UTILS = ../Panorama/.obj/utils.o
UTILS = utils.o

# ========================================================================
# install locations
# ========================================================================

INSTALL_PREFIX=__PREFIX__
INSTALL_ETC_DIR=__ETC_PREFIX__
INSTALL_BIN_DIR=$(INSTALL_PREFIX)/bin
INSTALL_DOC_DIR=$(INSTALL_PREFIX)/share/doc/hugin
INSTALL_DATA_DIR=$(INSTALL_PREFIX)/share/hugin
INSTALL_XRC_DIR=$(INSTALL_DATA_DIR)/xrc
INSTALL_XRC_DATA_DIR=$(INSTALL_XRC_DIR)/data
INSTALL_LOCALE_DIR=$(INSTALL_PREFIX)/share/locale


#OBJECTS = $(PROGRAM).o
OBJECTS = panoviewerapp.o panoviewextractor.o panoviewer.o panolib.o printerror.o mainframe.o client.o $(UTILS)

# implementation

.SUFFIXES:	.o .cpp

.cpp.o :
	$(CC) $(CC_ARGS) -c `wx-config --cflags` -o $@ $<

all:    $(PROGRAM)

apps:	$(PROGRAM)

$(PROGRAM):	$(OBJECTS)
	$(CC) -o $(PROGRAM) $(OBJECTS) `wx-config --libs`

clean:
	rm -f *.o $(PROGRAM)

install: $(PROGRAM)
	mkdir -p $(INSTALL_BIN_DIR)
	-cp -a $(PROGRAM) $(INSTALL_BIN_DIR)
