//{{NO_DEPENDENCIES}}
// NOTE - The line above ensures that the build will 
//        not constantly recompile BUT if you make 
//        any changes to the included wx.rc you must
//        force a recompilation of the resources!!

appicon48 ICON   "xrc/data/icon_48x48.ico"
//appicon16 ICON   "xrc/data/icon_16x16.ico"
//appicon96 ICON   "xrc/data/icon_96x96.ico"
//appicon128 ICON   "xrc/data/icon_128x128.ico"

#include "wx/msw/wx.rc"
