[Desktop Entry]
Name=Hugin panorama creator
Name[de]=Hugin panorama creator
Comment=Stitch photographs together
Comment[de]=Erzeugt Panoramabildern aus mehreren Einzelbildern.
GenericName=Panorama stitcher
GenericName[de]=Panorama Stitcher
Categories=Application;Graphics;
Encoding=UTF-8
Exec=hugin
Icon=__PREFIX__/share/hugin/xrc/data/icon.xpm
StartupNotify=false
Terminal=false
Type=Application

