[Desktop Entry]
Name=Hugin panorama creator
Name[cs]=Hugin pro skládání panoramat
Name[de]=Hugin panorama creator
Name[fr]=Hugin créateur de panoramas
Name[ru]=Сшиватель панорам Hugin
Comment=Stitch photographs together
Comment[cs]=Skládání panoramatických snímků
Comment[de]=Erzeugt Panoramabildern aus mehreren Einzelbildern.
Comment[fr]=Assebler des photographies
Comment[ru]=Сшивка панорам из отдельных фотографий
GenericName=Panorama stitcher
GenericName[de]=Panorama Stitcher
GenericName[fr]=Assemblage de panoramas
GenericName[cs]=Nástroj pro skládání panoramat
GenericName[ru]=Сшиватель панорам
Categories=Application;Graphics;
Encoding=UTF-8
Exec=hugin
Icon=hugin
StartupNotify=false
Terminal=false
Type=Application
MimeType=application/x-ptoptimizer-script;
