// -*- c-basic-offset: 4 -*-
/** @file config.h
 *
 *  @author Pablo d'Angelo <pablo.dangelo@web.de>
 *
 *  $Id: config.h.tmpl 456 2003-12-13 10:40:54Z dangelo $
 *
 *  @brief contains multiple configuration options.
 *         Could be used for platform specific stuff as
 *         well.
 *
 *  This is free software; you can redistribute it and/or
 *  modify it under the terms of the GNU General Public
 *  License as published by the Free Software Foundation; either
 *  version 2 of the License, or (at your option) any later version.
 *
 *  This software is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 *  Lesser General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public
 *  License along with this software; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 *
 */


#ifndef _CONFIG_H
#define _CONFIG_H

#define HUGIN_VERSION 0.4

#define INSTALL_PREFIX "__PREFIX__"
#define INSTALL_ETC_DIR "__ETC_PREFIX__"
#define INSTALL_BIN_DIR "__PREFIX__/bin"
#define INSTALL_DOC_DIR "__PREFIX__/share/doc/hugin"
#define INSTALL_DATA_DIR "__PREFIX__/share/hugin"
#define INSTALL_XRC_DIR "__PREFIX__/share/hugin/xrc"
#define INSTALL_XRC_DATA_DIR "__PREFIX__/share/hugin/xrc/data"
#define INSTALL_LOCALE_DIR "__PREFIX__/share/locale"


#endif // _CONFIG_H
