[Desktop Entry]
Name=Hugin Panorama Creator
Name[cs]=Hugin pro skládání panoramat
Name[de]=Hugin - Panorama-Editor
Name[fr]=Hugin - Créateur de panoramas
Name[it]=Hugin - Assemblatore di panorami 
Name[ru]=Сшиватель панорам Hugin
Name[hu]=Hugin panoráma készítő
Comment=Stitch photographs together
Comment[cs]=Skládání panoramatických snímků
Comment[de]=Erzeugt Panoramabildern aus mehreren Einzelbildern.
Comment[fr]=Assembler des photographies
Comment[it]=Assembla fotografie
Comment[ru]=Сшивка панорам из отдельных фотографий
Comment[hu]=Fényképek összefűzése egymással
GenericName=Panorama stitcher
GenericName[de]=Panorama Stitcher
GenericName[fr]=Assemblage de panoramas
GenericName[it]=Crea dei panorami
GenericName[cs]=Nástroj pro skládání panoramat
GenericName[ru]=Сшиватель панорам
GenericName[hu]=Panoráma összefűző
Categories=Graphics;
Exec=hugin
Icon=hugin
StartupNotify=false
Terminal=false
Type=Application
MimeType=application/x-ptoptimizer-script;
