[Desktop Entry]
Name=Hugin Batch Processor
Name[ru]=Графический интерфейс к PTBatcher
Name[fr]=Hugin - Interface grahique pour le traitement par lots PTBatcher
Name[it]=Hugin - Elaboratore in serie
Name[de]=Hugin - Stapelverarbeitung
Name[hu]=Hugin kötegelt feldolgozó
Name[cs]=Hugin - Dávkový zpracovatel
Comment=Hugin project stitching queue manager
Comment[fr]=Gérer la file d'attente des projets Hugin d'assemblage
Comment[it]=Gestisce la coda dei progetti di Hugin
Comment[de]=Stapelverarbeitung für die Panoramaerstellung
Comment[hu]=Hugin projekt összefűző sor kezelő
Comment[cs]=Správce fronty úloh pro Hugin
GenericName=Panorama batch processor GUI
GenericName[ru]=Пакетная сборка панорам
GenericName[fr]=Interface graphique pour le traitement par lots de panoramas
GenericName[it]=Interfaccia grafica per l'elaborazione in serie dei progetti di Hugin
GenericName[de]=Panorama Stapelverarbeitung
GenericName[hu]=Panoráma kötegelt feldolgozó GUI
GenericName[cs]=Dávkové zpracování panoramat
Categories=Graphics;
Exec=PTBatcherGUI %F
Icon=ptbatcher
StartupNotify=false
Terminal=false
Type=Application
MimeType=application/x-ptoptimizer-script;
