[Desktop Entry]
Name=Hugin PTBatcher
Comment=Add Hugin project to stitching queue
GenericName=Add project to batch processor
NoDisplay=true
Categories=Graphics;
Exec=PTBatcher -a %f
Icon=hugin
StartupNotify=false
Terminal=false
Type=Application
MimeType=application/x-ptoptimizer-script;
