[Desktop Entry]
Name=Hugin project stitcher
Name[fr]=Hugin - Assembleur de projet
Comment=Stitch an existing Hugin project
Comment[fr]=Assembler un projet Hugin existant
GenericName=Panorama batch stitcher
GenericName[fr]=Assemblage par lots de panoramas
Categories=Graphics;
Exec=hugin_stitch_project
Icon=hugin
StartupNotify=false
Terminal=false
Type=Application
MimeType=application/x-ptoptimizer-script;
