[Desktop Entry]
Name=Hugin project stitcher
Comment=Stitch an existing Hugin project
GenericName=Panorama batch stitcher
Categories=Graphics;
Exec=hugin_stitch_project
Icon=hugin
StartupNotify=false
Terminal=false
Type=Application
MimeType=application/x-ptoptimizer-script;
