[Desktop Entry]
Name=PTBatcher GUI
Name[ru]=Графический интерфейс к PTBatcher
GenericName=Panorama batch processor GUI
GenericName[ru]=Пакетная сборка панорам
Categories=Application;Graphics;
Encoding=UTF-8
Exec=PTBatcherGUI
Icon=hugin
StartupNotify=false
Terminal=false
Type=Application
MimeType=application/x-ptoptimizer-script;
