[Desktop Entry]
Name=Hugin PTBatcher GUI
Name[ru]=Графический интерфейс к PTBatcher
Comment=Hugin project stitching queue manager
GenericName=Panorama batch processor GUI
GenericName[ru]=Пакетная сборка панорам
Categories=Graphics;
Exec=PTBatcherGUI
Icon=hugin
StartupNotify=false
Terminal=false
Type=Application
